<h1>New User</h1>

<%# <form action='/users' method='post' accept-charset='UTF-8'>
  <div>
    <label for='username' name='user[username]'>Username:</label>
    <input type='text' id='username' name='username'>
  </div>
  <div>
    <label for='email' name='user[email]'>Email:</label>
    <input type='text' id='email' name='email'>
  </div>
  <div>
    <label for='password' name='user[password]'>Password:</label>
    <input type='password' id='password' name='password'>
  </div>
  <input type='submit' value='Submit'>
</form> %>

<%# <%= form_tag('/users') do %>
  <%# <div>
    <%= label_tag('username', 'Username:') %>
    <%# <%= text_field_tag('username', 'Username:') %>
  <%# </div>
  <div>
    <%= label_tag('email', 'Email:') %>
    <%# <%= text_field_tag('email') %>
  <%# </div>
  <div>
    <%= label_tag('password', 'Password:') %>
    <%# <%= password_field_tag('password') %>
  <%# </div>
    <%= submit_tag('Submit') %>
<%# <% end %>

<%= form_with(url: "/users", method: "post") do %>
  <div>
    <%= label_tag('username', 'Username:') %>
    <%= text_field_tag('username', nil, placeholder: 'Your username here') %>
  </div>
  <div>
    <%= label_tag('email', 'Email:') %>
    <%= text_field_tag('email', nil, placeholder: 'you@email.com') %>
  </div>
  <div>
    <%= label_tag('password', 'Password:') %>
    <%= password_field_tag('password') %>
  </div>
    <%= submit_tag('Submit') %>
<% end %>
